<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel">
</ngx-charts-bar-vertical>
<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [animations]="animations"
  [labels]="labels"
  [gradient]="gradient">
</ngx-charts-pie-chart>
<ngx-charts-tree-map
  [view]="view"
  [scheme]="colorScheme"
  [results]="single">
</ngx-charts-tree-map>
