<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="top5"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [legendTitle]="top5Legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel">
</ngx-charts-bar-vertical>
<ngx-charts-polar-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [animations]="animations"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [gradient]="gradient"
  [legend]="showLegend"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis">
</ngx-charts-polar-chart>
<ngx-charts-tree-map
  [view]="view"
  [scheme]="colorScheme"
  [gradient]="gradient"
  [results]="gender">
</ngx-charts-tree-map>
